# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
.env/

# Ignore compiled files
*.so
*.o
*.out
*.a

# Ignore logs and temporary files
logs/
*.log
*.tmp

# Ignore entire extracted_frames directory
extracted_frames/

# Ignore everything inside action_camera except image_metrics.csv
action_camera/*
!action_camera/image_metrics.csv